/* h1{
    color: gray;
}

h1 > span{
    color: #5d5d5d;
    font-style: italic;
}

p{
    font-size: 18px;
    color: green;
}
.some{
    color: red;

}
.some1{
    background: black;

}
.some2{
    font-family: Arial;

} */
/* 
#esh{\watch
    background-color: aqua;
    height: 70px;
    width: 70px;
} */









































canvas {
    border: solid 1px red ;
}